.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

img[src="./Resources/Images/Tamer Badarneh.jpg"] {
    border-radius: 50%;
    border: solid 3px cornflowerblue;
}

@media(max-width: 375px) {
    img[src="./Resources/Images/Tamer Badarneh.jpg"] {
        width: 130px;
        height: 130px;
    }
}